html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightskyblue
}
label {
    color: darkgreen ;
}
h1, h2, h3, h4 {
    color: darkgreen;
}
header {
    color: red
}