@model IEnumerable<Category>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1><b>Kategori Listesi</b></h1>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary ">
                <span>Yeni Kategori Ekle</span>
            </a>
        </div>
    </div>
    <div class="row">

        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>
                       <h4>Kategori Adı </h4>
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var category in Model)
                {
                    <tr>
                        <td><h5>@category.Name </h5></td>
                        <td>
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary">
                                Güncelle
                            </a>

                             <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">
                                Sil
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>